#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
#*.jrtc
#*.java
*.class
*.info
*.properties
#*.jar

!/lib/*.*

/out/
/out.log
/out.log.*
/JavaRushPlugin.properties
/Instruction.png

